html, body {
    margin: 0;
    width: 100%;
	height: 100%;
}
.body {
    background-color: #f1f1f1;
    display: flex;
    justify-content:   center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #ffffff;
    padding: 10px 10px 0px;
    
}
.header {
    background-color: #F6C6B8;
    min-height: 150px;
    display: flex;
    
}
.content {
    background-color: #ffffff;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #ffffff;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 2%;
    padding-left: 1%;
}
.link{
    color: black
    
}
.ul {
    color: #000000;
    font-weight: bold;
    list-style-type: circle;
    font-size: 20px;
    align-items: center;
}

